---
- Personal:
    - Personal Site:
        - icon: https://tuero.github.io/static/icon.png
          href: https://tuero.github.io/
    - Scotiabank:
        - icon: /icons/scotiabank.svg
          href: https://www1.scotiaonline.scotiabank.com/online/authentication/authentication.bns
    - Personal Email:
        - icon: gmail.png
          href: "https://accounts.google.com/AccountChooser?continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F%3Fauthuser%3DUSERNAME%40DOMAIN&service=mail&Email=jaketuero94@gmail.com"
    - Professional Email:
        - icon: gmail.png
          href: "https://accounts.google.com/AccountChooser?continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F%3Fauthuser%3DUSERNAME%40DOMAIN&service=mail&Email=jake@tuero.ca"
    - UAlberta Email:
        - icon: gmail.png
          href: "https://accounts.google.com/AccountChooser?continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F%3Fauthuser%3DUSERNAME%40DOMAIN&service=mail&Email=tuero@ualberta.ca"
- Professional:
    - LinkedIn:
        - icon: linkedin.png
          href: https://www.linkedin.com/in/jake-tuero-2714a658/
    - GitHub:
        - icon: github.png
          href: https://github.com/tuero
    - Google Scholar:
        - icon: google-scholar.png
          href: https://scholar.google.ca/

- Network:
    - Speedtest:
        - icon: ookla-speedtest.png
          href: https://www.speedtest.net/
