---
title: Tuerolab
headerStyle: clean
statusStyle: dot
useEqualHeights: true

layout:
  Systems:
    style: row
    columns: 4
  Monitoring:
    style: row
    columns: 2
  Infrastructure:
    style: row
    columns: 2
  Media:
    style: row
    columns: 3
