---
services:

  gluetun:
    image: "{{ gluetun_image }}"
    container_name: gluetun

    cap_add:
      - NET_ADMIN

    devices:
      - /dev/net/tun:/dev/net/tun

    env_file:
      - path: ./pia.env
        format: raw

    environment:
      VPN_SERVICE_PROVIDER: "private internet access"
      VPN_TYPE: "openvpn"

      # UDP is generally preferable for VPN throughput.
      OPENVPN_PROTOCOL: "udp"

      SERVER_REGIONS: "CA Toronto,CA Ontario,CA Montreal"
      PORT_FORWARD_ONLY: "true"
      VPN_PORT_FORWARDING: "on"

      TZ: "{{ downloads_timezone }}"

      # Allow access to qBittorrent's Web UI from the LAN.
      FIREWALL_INPUT_PORTS: "{{ qbittorrent_webui_port }}"

      # Refresh VPN provider server data every 20 days.
      UPDATER_PERIOD: "480h"

      VPN_PORT_FORWARDING_UP_COMMAND: >-
        {% raw %}/bin/sh -c 'wget -O- -nv --retry-connrefused --post-data "json={\"listen_port\":{{PORT}},\"current_network_interface\":\"{{VPN_INTERFACE}}\",\"random_port\":false,\"upnp\":false}" http://127.0.0.1:8080/api/v2/app/setPreferences'{% endraw %}

      VPN_PORT_FORWARDING_DOWN_COMMAND: >-
        /bin/sh -c 'wget -O- -nv --retry-connrefused --post-data "json={\"listen_port\":0,\"current_network_interface\":\"lo\"}" http://127.0.0.1:8080/api/v2/app/setPreferences'

    volumes:
      - "{{ downloads_appdata_root }}/gluetun:/gluetun"

    ports:
      - "{{ qbittorrent_webui_port }}:{{ qbittorrent_webui_port }}"

    restart: unless-stopped


  qbittorrent:
    image: "{{ qbittorrent_image }}"
    container_name: qbittorrent

    # qBittorrent shares Gluetun's network namespace.
    network_mode: "service:gluetun"

    environment:
      PUID: "{{ downloads_uid.stdout }}"
      PGID: "{{ downloads_gid.stdout }}"
      TZ: "{{ downloads_timezone }}"
      UMASK: "022"

      WEBUI_PORT: "{{ qbittorrent_webui_port }}"

    volumes:
      - "{{ downloads_appdata_root }}/qbittorrent:/config"
      - "/mnt/media:/media"

    restart: unless-stopped
